<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>환율 변환</title>
</head>
<body>
<h1>환율 변환 프로그램</h1>
<form action="/convert" method="post">
    <label for="currency">외화를 선택해주세요 : </label>
    <select name="currency" id="currency">
        <option value="USD">미국 달러 USD</option>
        <option value="JPY">일본 엔화 JPY</option>
        <option value="CNY">중국 위안 CNY</option>
        <option value="EUR">유럽 유로 EUR</option>

    </select>
    <br>
    <br>
    <label for="amount">금액을 입력해주세요 : </label>
    <input type="number" name="amount" id="amount" required>
    <button type="submit">계산하기</button>
</form>
<div th:if="${result}">
    <h2>계산 결과 :</h2>
    <p th:text="${amount} + ' ' + ${currency} + ' = ' + ${result} + ' ' + ${targetCurrency}+ '입니다.'"> </p>
</div>
</body>
</html>